.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: #7D889E;
    display: flex; 
    align-self: center; 
    justify-content: center;
    margin-top: 152px;
    font-family: outfit;
    /* font-size: 5px; */
    
}
h3{
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
}
.card{
    width: 320px;
    height:497px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    
    /* margin-left: 560px;
    margin-right: 560px; */
}
img {
    width: 288px;
    height: 288px;
    margin-top: 16px;
    margin-left: 4px;
    border-radius: 10px;
}
.textContainer{
    width: 288px;
    height: 129px;
    margin-top: 16px;
    margin-left: 16px;

}
p{
    font-size: 15px;
}

